@font-face {
    font-family: Coashela;
    src: url('fonts/Coashela Notes.otf');
}

@font-face {
    font-family: Dejavu;
    src: url('fonts/DejaVuSansMono.ttf');
}

@font-face {
    font-family: Dense;
    src: url('fonts/dense_regular.otf');
}

body{
    background-color: #253239;
    margin: 0 0 0 0;
}

.container{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.site-navbar{
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

.outerContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #253239;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.innerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Coashela";
    font-size: 20px;
}

.navdiv{
    display: flex;
    align-items: center;
    font-size: 23px;
}

.navdiv ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0;
    margin: 0;
}

.navdiv ul li{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
}

.navdiv ul li a{
    text-decoration: none;
    color: #846c6c;
}

.navdiv ul li .activeanchor{
    color: #cc25d6;
}

.profile{  
    display: flex;
    align-items: center;
}

.profilediv{
    padding-top: 4px;
}

.profile a{
    display: flex;
}

.profile svg{
    display: flex;
    align-self: center;
    padding-bottom: 11px;
    padding-right: 5px;
}

.profile svg path{
    fill: #988080;
}

.activeanchor svg path{
    fill: #cc25d6;
}



#navrightdiv{
    margin-left: auto; 
}

#navleftdiv{
    width: 45%;
    padding-left: 10px;
}

.site-logo{
    flex-grow: 1;
    text-align: center;
}

.site-logo a{
    color: #cc25d6; 
    text-decoration: none;
    font-size: 33px;
    font-weight: bold;
    font-family: "Coashela";
    justify-self: center;
}

.site-logo a:hover{
    color: #9e567f;
}



.footercenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #ffffff;
    font-family: "Coashela";
    font-size: 20px;
}

.footer .footercenter p{
    margin: 0;
}

.et{
    color: #979595;
}


.container2 {
    max-width: 1200px;
    margin: 80px auto;
    font-family: "Dense";
    font-size: 23px;
    color: #846c6c;
    padding: 20px;
    background-color: #28404e;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-container img {
    max-width: 150px; 
    border-radius: 50%; 
    display: block; 
    margin: 0 auto 20px; 
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px; 
    height: auto; 
    border-radius: 50%; 
}


#profile-container {
    position: relative;
}

.corner-icon {
    position: absolute;
    top: 10px; /* Üstten boşluk */
    right: 10px; /* Sağdan boşluk */
    width: 80px; /* İkonun genişliği */
    height: auto; /* Yükseklik, genişliğe göre ayarlanır */
}




#editButton {
    position: fixed;
    bottom: 20px;
    right: 22px;
    width: 140px;
    height: 80px;
    padding: 4px 10px; /* Daha az padding, daha dar bir buton */
    font-size: 20px; /* Daha küçük font boyutu */
    font-family: Arial, sans-serif;
    background-color: #112f77; /* Parlak Yeşil */
    color: white;
    border: none;
    border-radius: 10px; /* Yuvarlak köşeler */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Daha ince gölgelendirme */
}

#editButton:hover {
    background-color: #1648bc; /* Buton üzerine gelindiğinde renk koyulaşır */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Genişlik arttı */
    border-radius: 10px; /* Kenarları yuvarlak */
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Daha belirgin gölgelendirme */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"], input[type="email"] {
    width: 90%; /* Input alanlarının genişliği */
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px; /* Input kenarlarını yuvarlak yap */
    box-sizing: border-box; /* Kutu modeli */
}


button {
    background-color: #28404e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0f2c3d;
}
